[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
ExecStart=/usr/local/bin/kube-scheduler \
    --v=2 \
    --logtostderr=true \
    --address=127.0.0.1 \
    --leader-elect=true \
    --kubeconfig=#KUBE_PATH#/scheduler.kubeconfig \
    --authentication-kubeconfig=#KUBE_PATH#/scheduler.kubeconfig \
    --authorization-kubeconfig=#KUBE_PATH#/scheduler.kubeconfig \
    --port=0
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
